# ============================================
# Oasis 部署账户
# 区块浏览器 https://explorer.oasis.io/testnet/consensus
ADMIN_ADDR_OASIS_CONSENSUS =
ADMIN_PRIVATE_KEY_OASIS_CONSENSUS = 
ADMIN_ADDR_EVM = 
ADMIN_PRIVATE_KEY_EVM = 

MINTER_ADDR_OASIS_CONSENSUS = 
MINTER_PRIVATE_KEY_OASIS_CONSENSUS = 
MINTER_ADDR_EVM = 
MINTER_PRIVATE_KEY_EVM = 

BUYER_ADDR_OASIS_CONSENSUS =
BUYER_PRIVATE_KEY_OASIS_CONSENSUS = 
BUYER_ADDR_EVM = 
BUYER_PRIVATE_KEY_EVM = 

BUYER2_ADDR_OASIS_CONSENSUS =
BUYER2_PRIVATE_KEY_OASIS_CONSENSUS =
BUYER2_ADDR_EVM = 
BUYER2_PRIVATE_KEY_EVM = 

DAO_FUND_MANAGER_ADDR_OASIS_CONSENSUS =
DAO_FUND_MANAGER_PRIVATE_KEY_OASIS_CONSENSUS =
DAO_FUND_MANAGER_ADDR_EVM =
DAO_FUND_MANAGER_PRIVATE_KEY_EVM =

# ==================================================

ERC20_deployer_ADDR_OASIS_CONSENSUS = 
ERC20_deployer_PRIVATE_KEY_OASIS_CONSENSUS = 
ERC20_deployer_ADDR_EVM = 
ERC20_deployer_PRIVATE_KEY_EVM = 

ERC20_User_01_ADDR_OASIS_CONSENSUS = 
ERC20_User_01_PRIVATE_KEY_OASIS_CONSENSUS = 
ERC20_User_01_ADDR_EVM = 
ERC20_User_01_PRIVATE_KEY_EVM = 



# ===============================================


# RPC ---------------------------
# BSC
BSC_Mainnet_Infura_RPC_1 = 
BSC_Testnet_Public_RPC_1 =
# OASIS
OASIS_Mainnet_Chainstack_RPC_1 = 
OASIS_Testnet_Public_RPC_1 = "https://testnet.sapphire.oasis.io"
# 以太坊API KEY
ETHERSCAN_API_KEY=


# --------------------------------------------------------------------


# -------------google gemini env --------------------------
GEMINI_API_KEY=
GOOGLE_CLOUD_PROJECT=

HTTPS_PROXY='http://127.0.0.1:7897'
HTTP_PROXY='http://127.0.0.1:7897' 